.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 3rem;
  height: 150px;
  margin-top: 1rem;
  background-color: #373737;

  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #dcdcdc;
  }
}

.column-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.column-link {
  color: #dcdcdc;
}
